Repository tfkhdyt/pondokeun: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

prettier:
  run: pnpm prettier --plugin-search-dir . --write {staged_files}

eslint:
  run: pnpm eslint --fix {staged_files}

feat(edit): add memo state for link, created, and updated date
  src/routes/[slug]/edit/+page.svelte
Due: prettier, eslint

fix(cta): show cta buttons only for not yet signed in user
  src/lib/components/CTA.svelte
Due: prettier, eslint

feat(page): change favicon
  static/favicon.png
Due: none

feat(header): change icon and add more horizontal padding
  src/lib/components/Header.svelte
Due: prettier, eslint

style(edit-page): add empty line between date and submit button
  src/routes/[slug]/edit/+page.svelte
Due: prettier, eslint

feat(root-page): add search feature
  src/routes/+page.svelte
Due: prettier, eslint

refactor(root-page): create filteredData state
  src/routes/+page.svelte
Due: prettier, eslint

feat(root-page): add sort feature
  src/routes/+page.svelte
Due: prettier, eslint

feat(root-page): add placeholder to select input
  src/routes/+page.svelte
Due: prettier, eslint

fix(root-page): make search bar and sort field responsive
  src/routes/+page.svelte
Due: prettier, eslint

fix(root-page): show search bar when data is more than 0
  src/routes/+page.svelte
Due: prettier, eslint

build(deps): remove unneeded dependency
  package.json
  pnpm-lock.yaml
Due: none

docs: add README
  .env.example
  README.md
Due: none

feat(auth): add google provider
  prisma/migrations/20230329104945_change_expires_at_to_expires_in/migration.sql
  prisma/schema.prisma
  src/hooks.server.ts
Due: prettier, eslint

feat(env): add GOOGLE_ID and GOOGLE_SECRET
  .env.example
Due: none

feat(auth): add facebook provider
  .env.example
  src/hooks.server.ts
Due: prettier, eslint

fix: remove facebook oauth
  .env.example
  README.md
  src/hooks.server.ts
  src/routes/signin/+page.svelte
Due: prettier, eslint

Revert "fix: remove facebook oauth"
  .env.example
  README.md
  src/hooks.server.ts
  src/routes/signin/+page.svelte
Due: prettier, eslint

chore: add privacy policy
  PRIVACY_POLICY.md
Due: none

Revert "Revert "fix: remove facebook oauth""
  .env.example
  README.md
  src/hooks.server.ts
  src/routes/signin/+page.svelte
Due: prettier, eslint

fix(single-result): fix button group by removing anchor tag
  src/lib/components/SingleResult.svelte
Due: prettier, eslint

refactor(single-result): move autoAnimate to outer element
  src/lib/components/SingleResult.svelte
Due: prettier, eslint

fix(cta): reduce font size for mobile
  src/lib/components/CTA.svelte
Due: prettier, eslint

feat(fonts): set font to Poppins
  src/app.css
  static/fonts/poppins-v20-latin-100.woff
  static/fonts/poppins-v20-latin-100.woff2
  static/fonts/poppins-v20-latin-100italic.woff
  static/fonts/poppins-v20-latin-100italic.woff2
  static/fonts/poppins-v20-latin-200.woff
  static/fonts/poppins-v20-latin-200.woff2
  static/fonts/poppins-v20-latin-200italic.woff
  static/fonts/poppins-v20-latin-200italic.woff2
  static/fonts/poppins-v20-latin-300.woff
  static/fonts/poppins-v20-latin-300.woff2
  static/fonts/poppins-v20-latin-300italic.woff
  static/fonts/poppins-v20-latin-300italic.woff2
  static/fonts/poppins-v20-latin-500.woff
  static/fonts/poppins-v20-latin-500.woff2
  static/fonts/poppins-v20-latin-500italic.woff
  static/fonts/poppins-v20-latin-500italic.woff2
  static/fonts/poppins-v20-latin-600.woff
  static/fonts/poppins-v20-latin-600.woff2
  static/fonts/poppins-v20-latin-600italic.woff
  static/fonts/poppins-v20-latin-600italic.woff2
  static/fonts/poppins-v20-latin-700.woff
  static/fonts/poppins-v20-latin-700.woff2
  static/fonts/poppins-v20-latin-700italic.woff
  static/fonts/poppins-v20-latin-700italic.woff2
  static/fonts/poppins-v20-latin-800.woff
  static/fonts/poppins-v20-latin-800.woff2
  static/fonts/poppins-v20-latin-800italic.woff
  static/fonts/poppins-v20-latin-800italic.woff2
  static/fonts/poppins-v20-latin-900.woff
  static/fonts/poppins-v20-latin-900.woff2
  static/fonts/poppins-v20-latin-900italic.woff
  static/fonts/poppins-v20-latin-900italic.woff2
  static/fonts/poppins-v20-latin-italic.woff
  static/fonts/poppins-v20-latin-italic.woff2
  static/fonts/poppins-v20-latin-regular.woff
  static/fonts/poppins-v20-latin-regular.woff2
  static/poppins-v20-latin.zip
Due: prettier

fix(root-page): reduce input field size
  src/routes/+page.svelte
Due: prettier, eslint

fix(sign-in-button): reduce font weight to medium
  src/lib/components/SignInButtons/GitHubSignInButton.svelte
  src/lib/components/SignInButtons/GoogleSignInButton.svelte
Due: prettier, eslint

fix(link-postgres): change getLinkBySlug error handling
  src/repositories/link/linkPostgres.repository.ts
Due: prettier, eslint

fix(edit): redirect to /{slug} is slug is not found
  src/routes/[slug]/edit/+page.server.ts
Due: prettier, eslint

fix(slug-page): change data type to PageData
  src/routes/[slug]/+page.svelte
Due: prettier, eslint

fix(page-server): don't return fail() if error
  src/routes/+page.server.ts
Due: prettier, eslint

build(deps): update dependencies
  package.json
  pnpm-lock.yaml
Due: none

refactor(tailwind): remove line clamp plugin
  package.json
  pnpm-lock.yaml
  tailwind.config.cjs
Due: none

fix(singleResult): add hyphens-auto to url
  src/lib/components/SingleResult.svelte
Due: prettier, eslint

fix(SingleResult): adjust link and slug layout
  src/lib/components/SingleResult.svelte
Due: prettier, eslint

fix(404-page): reduce text size
  src/routes/[slug]/+page.svelte
Due: prettier, eslint

fix(root-page): change link input field
  src/routes/+page.svelte
Due: prettier, eslint

chore(version): 0.4.0
  CHANGELOG.md
Due: none

fix(SingleResult): add "break-all" class to link element
  src/lib/components/SingleResult.svelte
Due: prettier, eslint

feat: setup svelte-seo
  package.json
  pnpm-lock.yaml
  src/routes/+layout.svelte
  static/thumbnail-600p.png
  static/thumbnail-800p.png
  static/thumbnail.png
Due: prettier, eslint

fix(root-page): make search feature case insensitive
  src/routes/+page.svelte
Due: prettier, eslint

Path conditions:
  prettier: any of: *.{html,css,ts,svelte}
  eslint: any of: *.{ts,js,svelte}
