Repository tfkhdyt/pondokeun: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: eslint --fix {staged_files}

prettier:
  run: prettier --plugin-search-dir . --write {staged_files}

fix(link-entity): change url validation message to 'Invalid URL'
  src/entities/link.entity.ts
Due: eslint, prettier

chore(lefthook): fix eslint and prettier command, prefix it with pnpm
  lefthook.yml
Due: none

fix(header): change sign in icon
  src/lib/components/Header.svelte
Due: eslint, prettier

feat(link-pg): add getAllLinks()
  src/repositories/index.ts
  src/repositories/link/linkPG.repository.ts
Due: eslint, prettier

feat(services): add getAllLinks()
  src/services/link.service.ts
Due: eslint, prettier

refactor(page-server): implement linkService.getAllLInks()
  src/routes/+page.server.ts
Due: eslint, prettier

chore(prettier): set trailingComma to es5 and bracketSameLine to true
  .prettierrc
Due: none

chore(eslint): apply simple import sort plugin
  .eslintrc.cjs
Due: none

style: run format and lint
  package.json
  pnpm-lock.yaml
  postcss.config.cjs
  src/entities/link.entity.ts
  src/hooks.server.ts
  src/index.test.ts
  src/lib/components/CTA.svelte
  src/lib/components/Header.svelte
  src/lib/components/SingleResult.svelte
  src/repositories/link/linkPG.repository.ts
  src/routes/+layout.server.ts
  src/routes/+layout.svelte
  src/routes/+page.server.ts
  src/routes/+page.svelte
  src/routes/[slug]/+page.server.ts
  src/routes/[slug]/+page.svelte
  src/routes/api/links/[slug]/+server.ts
  src/routes/signin/+page.svelte
  src/services/link.service.ts
  svelte.config.js
  tailwind.config.cjs
  vite.config.ts
Due: eslint, prettier

refactor(link-repo): rename linkPG to linkPostgres
  src/repositories/link/linkPostgres.repository.ts
Due: eslint, prettier

fix(page-server): change LinkRepoPostgres import path
  src/routes/+page.server.ts
Due: eslint, prettier

chore(eslint): setup unused-imports plugin
  .eslintrc.cjs
  package.json
  pnpm-lock.yaml
Due: none

chore(lefthook): add svelte-check command to pre-push
  lefthook.yml
Due: none

fix(server-hooks): add workaround for auth providers
  src/hooks.server.ts
Due: eslint, prettier

refactor(root-page-server): move Actions from object type to "satisfies"
  src/routes/+page.server.ts
Due: eslint, prettier

chore(version): 0.1.0
  CHANGELOG.md
Due: none

refactor(model): add model name mapping, change created_at to createdAt
  prisma/migrations/20230121034552_create/migration.sql
  prisma/migrations/20230121034945_change/migration.sql
  prisma/migrations/20230123001204_make/migration.sql
  prisma/migrations/20230123013151_make/migration.sql
  prisma/migrations/20230325152222_set_updated_at_default_value/migration.sql
  prisma/schema.prisma
Due: none

fix(link-postgres): change updated at property from snake case to camelCase
  src/repositories/link/linkPostgres.repository.ts
Due: eslint, prettier

fix(root-page): change created at property from snake_case to camelCase
  src/routes/+page.svelte
Due: eslint, prettier

chore(version): 0.1.1
  CHANGELOG.md
Due: none

feat(signin-page): change login button style
  src/routes/signin/+page.svelte
Due: eslint, prettier

feat(root-page): reset form if success
  src/routes/+page.svelte
Due: eslint, prettier

feat(delete): add confirmation modal before deleting link
  src/lib/components/DeleteModal.svelte
  src/lib/components/SingleResult.svelte
  src/lib/utils.ts
Due: eslint, prettier

chore(tailwind): add line clamp plugin
  package.json
  pnpm-lock.yaml
  tailwind.config.cjs
Due: none

chore(version): 0.2.0
  CHANGELOG.md
Due: none

refactor(signin): create component for sign in buttons
  src/lib/components/SignInButtons/FacebookSignInButton.svelte
  src/lib/components/SignInButtons/GitHubSignInButton.svelte
  src/lib/components/SignInButtons/GoogleSignInButton.svelte
  src/routes/signin/+page.svelte
Due: eslint, prettier

build(deps): install inversify
  package.json
  pnpm-lock.yaml
  svelte.config.js
  tsconfig.json
Due: eslint

feat(container): setup DI container with inversify
  src/containers/inversify.container.ts
  src/types/inversify.type.ts
Due: eslint, prettier

feat: add getLinkBySlug()
  src/repositories/index.ts
  src/repositories/link/linkPostgres.repository.ts
  src/services/link.service.ts
Due: eslint, prettier

feat(routes): implement DI container
  src/routes/+layout.server.ts
  src/routes/+page.server.ts
  src/routes/[slug]/+page.server.ts
Due: eslint, prettier

build(deps): update dependencies
  package.json
  pnpm-lock.yaml
Due: none

chore(version): 0.3.0
  CHANGELOG.md
Due: none

feat(page): add page transition
  src/routes/+layout.svelte
  src/routes/signin/+page.svelte
Due: eslint, prettier

feat(root-page): show more toast on success and error
  src/routes/+page.svelte
Due: eslint, prettier

fix(home): disable taintedMessage on superForm
  src/routes/+page.svelte
Due: eslint, prettier

feat(page): add edit page
  src/lib/components/SingleResult.svelte
  src/routes/[slug]/edit/+page.server.ts
  src/routes/[slug]/edit/+page.svelte
Due: eslint, prettier

feat: add "update slug" feature
  src/dto/link.dto.ts
  src/entities/link.entity.ts
  src/repositories/index.ts
  src/repositories/link/linkPostgres.repository.ts
  src/routes/+page.server.ts
  src/routes/[slug]/edit/+page.server.ts
  src/routes/[slug]/edit/+page.svelte
  src/services/link.service.ts
Due: eslint, prettier

feat(edit-page): add placeholder to slug input field
  src/routes/[slug]/edit/+page.svelte
Due: eslint, prettier

feat(edit-page): add validation for same old and new slug
  src/routes/[slug]/edit/+page.server.ts
Due: eslint, prettier

feat(single-result): show updated date
  src/lib/components/SingleResult.svelte
  src/routes/+page.svelte
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{ts,js,svelte}
  prettier: any of: *.{html,css,ts,svelte}
